@model ExpensesTracker.Models.List

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <h4 class="mb-0">@Html.DisplayFor(model => model.Name)</h4>
        <div>
            <a asp-action="Details" asp-route-id="@Model.Id">
                <button class="btn btn-dark">Powrót</button>
            </a>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsPublic" /> @Html.DisplayNameFor(model => model.IsPublic)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="PublicUrl" class="control-label"></label>
                    <input asp-for="PublicUrl" class="form-control" />
                    <span asp-validation-for="PublicUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

