@model IEnumerable<ExpensesTracker.Models.List>

@{
    ViewData["Title"] = "Listy";
}


<div class="d-flex flex-column">
    <h1>Listy rachunków</h1>
    <div class="mt-2 mb-4">
        <a asp-action="Create" class="text-decoration-none text-white">
            <button class="btn btn-dark ">
                Stwórz nową listę
            </button>
        </a>
    </div>
    @foreach (var item in Model) 
    {
        <div class="row rounded bg-light mb-2">
            <div class="col-11 p-2">
                <a asp-action="Details" asp-route-id="@item.Id" class="d-block text-decoration-none text-black">
                    <p class="m-0">@Html.DisplayFor(modelItem => item.Name)</p>
                </a>
            </div>
            <div class="col-1 p-0 bg-danger rounded-end d-flex justify-content-center align-items-center">
                <a asp-action="Delete" asp-route-id="@item.Id" class="d-block w-100 h-100 text-decoration-none text-black d-flex align-items-center justify-content-center">
                    <i class="bi bi-trash3-fill text-white"></i>
                </a>
            </div>
        </div>
    }
</div>
