<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ExpensesTracker</title>
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body class="w-screen h-screen">
<header>
    <nav class="w-full bg-neutral-900 shadow-neutral-950 shadow-md text-neutral-100 text-lg flex flex-row justify-between px-64 py-4">
        <div class="">
            <a class="" asp-area="" asp-controller="Home" asp-action="Index">Expenses Tracker</a>
            <button class="" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class=""></span>
            </button>
        </div>
        <div class="">
            <partial name="_LoginPartial" />
        </div>
    </nav>
</header>
<div class="w-full h-full">
    @RenderBody()
</div>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>